[project]
	description = ???JavaScript?????????????OS???Android HAL???????????????????
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/caiyanming
[access "refs/for/refs/*"]
	read = group user/caiyanming
	push = group user/caiyanming
	label-Code-Review = -2..+2 group user/caiyanming
	label-Verified = -1..+1 group user/caiyanming
	rebase = group user/caiyanming
	removeReviewer = group user/caiyanming
	submit = group user/caiyanming
[access "refs/heads/*"]
	read = group user/caiyanming
	create = group user/caiyanming
	push = +force group user/caiyanming
	pushMerge = group user/caiyanming
[access "refs/tags/*"]
	push = +force group user/caiyanming
	pushTag = group user/caiyanming
	pushSignedTag = group user/caiyanming
